<div style="background-color: white;" class="container">
    <h5>
        Cricket Board 2020
       </h5>
       <ul>
        <li><strong>Chairman:</strong> Asif Butt</li>
        <li><strong>Finance Sec:</strong> Ahsan Mehmood</li>
        <li><strong>Admin Members/Management:</strong> Fashahid Shah,Ahsan, Rizwan Baig, Nasir Nawaz, Pankaj Kaul </li>
      </ul>
    
      <h5>
        Other Management
      </h5>
       <ul>
        <li><strong>Umpir Head:</strong> Sabir Malik</li>
        <li><strong>Kids Coaching:</strong>Sabir Malik, Ahsan, Shahid, Waheed</li>
        <li><strong>General Development and Planning:</strong> Ove Eriksson </li>
      </ul>
    
      <h5>
        Team A - Seniors
      </h5>
       <ul>
        <li><strong>Captain:</strong> Nasir Nawaz</li>
        <li><strong>V. Captain:</strong>M. Zubair</li>
        <li><strong>SC:</strong> SC: Nasir Nawaz, Chandan, Zubair</li>
    </ul>
</div>