@import '~@angular/material/theming';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@include mat-core();



body{
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size:16px;
    font-weight:normal;
    font: normal 16px Roboto,"Helvetica Neue",sans-serif;
  
    line-height:1.6em;
    margin:0;
    height: 100vh; /* FIXES background color full screen READ! */
  }

/* ToolBar */

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 100;
}
  
mat-toolbar a {
  display: inline;
  margin: 0 10px;
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.sub-toolbar {
  background-color: transparent;
}

.spacer {
  flex: 1 1 auto;
}

/* Table */

table {
  width: 100%;
}

/* Side nav bar */

.container {
  height:50%;
  background-color: white;
}

.sidenav-container {
  min-height:100vh;
  background-color: white;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

// Used by Loading
.center-item{
  top: 50%; 
  text-align: center;
}

.fa-exclamation-triangle {
  color: red;
}