<div class="container">
    <!--
    <div fxFill fxLayout="column" fxLayoutAlign="space-between">
        <div fxLayout="row wrap">
          <ng-container *ngFor="let image of data">
              <img [src]="image.url">
          </ng-container>
        </div>
      
        <mat-paginator [length]="data2.length"
                      [pageSize]="size"
                      [pageIndex]="page"
                      [pageSizeOptions]="[4, 8, 12]"
                      (page)="getData($event)">
        </mat-paginator>
    </div>
      
-->
    <mat-grid-list cols="4" rowHeight="150px">
        <mat-grid-tile 
          *ngFor="let item of data; let index = index;"
          [rowspan]="item.rows" 
          [colspan]="item.cols" 
          style="background-color: royalblue;">
          <img src="https://picsum.photos/200/{{300 + index}}" alt="" style="object-fit: cover; width: 100%; height: 100%;">
        </mat-grid-tile>
    </mat-grid-list>

    <mat-paginator [length]="data2.length"
        [pageSize]="size"
        [pageIndex]="page"
        [pageSizeOptions]="[4, 8, 12]"
        (page)="getData($event)">
    </mat-paginator>

</div>
