<div style="background-color: white;" class="container">
   <strong>
    Kista Cricket Club (KCC) is the section for cricket at Kista Sports Club. It manages all the cricketing matters at Kista Sports Club.
   </strong> 
    
   <strong>
    KCC trying to promote cricket in Sweden by participating in various tournaments organized by the Swedish Cricket Federation (Swedish Cricket Federation).
   </strong>

   <strong>
    In addition, KCC organizes activities for children to participate in order to learn how to play cricket. 
    For more information about the KCC, you can find the KCC website http://www.kistacc.se/            
   </strong>
   <br>
   <br>
   
   <h5>
    Cricket Board 2020
   </h5>
   <ul>
    <li><strong>Chairman:</strong> Asif Butt</li>
    <li><strong>Finance Sec:</strong> Ahsan Mehmood</li>
    <li><strong>Admin Members/Management:</strong> Fashahid Shah,Ahsan, Rizwan Baig, Nasir Nawaz, Pankaj Kaul </li>
  </ul>

  <h5>
    Other Management
  </h5>
   <ul>
    <li><strong>Umpir Head:</strong> Sabir Malik</li>
    <li><strong>Kids Coaching:</strong>Sabir Malik, Ahsan, Shahid, Waheed</li>
    <li><strong>General Development and Planning:</strong> Ove Eriksson </li>
  </ul>

  <h5>
    Team A - Seniors
  </h5>
   <ul>
    <li><strong>Captain:</strong> Nasir Nawaz</li>
    <li><strong>V. Captain:</strong>M. Zubair</li>
    <li><strong>SC:</strong> SC: Nasir Nawaz, Chandan, Zubair</li>
  </ul>
  
  <h5>
    League 2020    
  </h5>
   <ul>
    <li><strong>Rules:</strong></li>
  </ul>
  <p>Vist SCF link: <a href="swedishcric">https://www.swedishcricket.org/tavling/Regler/</a> </p>
  
  <ul>
    <li><strong>Umpiring duties:</strong>
        <p>Vist SCF link: <a href="swedishcric">https://www.swedishcricket.org/tavling/Senior/</a> </p>

        Or
        
        1. Login with your personal number at http://idrottonline.se/KistaSportsClubKFUK-KFUM-Cricket/
        
        2. After login follow the link "SportsInfinity" at top.
        
        3. There you see your umpiring duties
    </li>
  </ul>
  
  <h5>
    Matches   
  </h5>
  <ul>
      <li>
        Match 1, 30th May, Saturday at 10:00AM Vs Indiska CC        
      </li>
      <li>
        Match 2, 6th June, Saturday at 10:00AM Vs Stockholm Tigers
      </li>
      <li>
        Match 3, 13th June, Saturday at 10:00 Vs Borlange CC
      </li>
      <li>
        Match 4, 20th June, Saturday at 10:00 Vs Huddinge Div2
      </li>
      <li>
        Match 5, 27th June, Saturday at 10:00 Vs Stockholm Super
      </li>
      <li>
        Match 6, 4th July, Saturday at 10:00 Vs Vastras CC
      </li>
      <li>
        Match 7, 11th July Saturday at 10:00 Vs Sigtuna CC
      </li>
      <li>
        Match 8, 18th July, Saturday at 10:00 Vs Sponga
      </li>
      <li>
        Match 9, 01st August, Saturday at 10:00 Vs SiKiF 1st
      </li>
      <li>
        Match 10, 8th August, Saturday at 10:00 Vs BotKyrka
      </li>
      <li>
        Match 11, 15th August Saturday at 10:00 Vs Alby 2nd XI
      </li>
      <li>
        Match 12, 22nd August, Saturday at 10:00 Vs NorKoping CC
      </li>      
  </ul>
</div>

